.barChart {
    font: 10px sans-serif;
    background-color: darkgrey;
    text-align: center;
    bottom: 0px;
}
.chartContainer {
    position: relative;
    width: 100%;
    background-color: lightgrey;
    overflow: hidden;
    overflow-x: scroll;
    /*padding: 5px;*/
    padding-left: 0;
    scroll-behavior: smooth;
}
.wideChartContainer {
    position: relative;
    width: 100%;
    left: 100px;
    background-color: lightgrey;
    overflow: hidden;
    overflow-x: scroll;
    /*padding: 5px;*/
    padding-left: 0;
    scroll-behavior: smooth;
}

.tableDates {
    background-color: darkgrey;
}
.date {
    height: 25px;
    width: 80px;
    background-color: lightgrey;
    text-align: center;
}
.date:hover {
    background-color: grey;
}
.container {
    position: relative;
    width: 400px;
    background-color: slategrey;
    border: darkslategrey;
    border-style: inset;
}
.wideContainer {
    position: relative;
    width: 1200px;
    background-color: slategrey;
    border: darkslategrey;
    border-style: inset;
    overflow: hidden;
}
.toolTip {
    position: absolute;
    display: none;
    min-width: 80px;
    height: auto;
    background: none repeat scroll 0 0 #ffffff;
    border: 1px solid #6F257F;
    padding: 14px;
    border-radius: 10px;
    text-align: center;
    font-family: sans-serif;
}
.axis {
    background-color: darkgrey;
    padding: 0px;
    position: absolute;
    left: 0px;
}
.arronaxLink {
    position: relative;
    display: block;
    width: 100%;
    height: 15px;
    text-align: center;
    background-color: lightgrey;
    padding-bottom: 5px;
}
.arronaxLink:hover {
    background-color: grey;
}
#sideBar {
    position: fixed;
    left: 0px;
    width: 200px;
    height: 100%;
    border: solid;
    border-width: 3px;
    border-color: darkgrey;
    background-color: lightgrey;
    font-family: 'Jost', 'sans-serif';
}
a {
    color: black;
    font-style: normal;
    font-variant: normal;
    text-decoration: none;
}
#graphArray {
    position: absolute;
    left: 205px;
    right: 0px;
    /*float: right;*/
}
.wideOptions {
    background-color: darkgrey;
    width: 100%;
}
.wideChartOption {
    height: 25px;
    background-color: lightgrey;
    text-align: center;
    margin-bottom: 0px;
}
.wideChartOption:hover {
    background-color: grey;
}
.pageControlPanel {
    border-style: inset;
    border-color: darkslategrey;
    border-width: 2px;
    background-color: darkgrey;
}
